extends base
include _reviewCard

block content
    section.section-header
        .header__hero
            .header__hero-overlay &nbsp;
            img.header__hero-img(src=`/img/products/${product.coverImage}`, alt=`${product.name}`)

        .heading-box
            h1.heading-primary
                span= product.name

    section.section-description
        .overview-box
            div
            .overview-box__group
                h2.heading-secondary.ma-bt-lg Quick facts
                .overview-box__detail
                    svg.overview-box__icon
                        use(xlink:href='/img/icons.svg#icon-chevron-right')
                            span.overview-box__label Brand
                            span.overview-box__text= product.brand
                .overview-box__detail
                    svg.overview-box__icon
                        use(xlink:href='/img/icons.svg#icon-chevron-right')
                            span.overview-box__label Skin Type
                            span.overview-box__text= product.skinType
                .overview-box__detail
                    svg.overview-box__icon
                        use(xlink:href='/img/icons.svg#icon-chevron-right')
                            span.overview-box__label Application
                            span.overview-box__text= product.application
                .overview-box__detail
                    svg.overview-box__icon
                        use(xlink:href='/img/icons.svg#icon-star')
                            span.overview-box__label Rating
                            span.overview-box__text= `${product.ratingsAverage} / 5`

        .description-box
            h2.heading-secondary.ma-bt-lg= `About ${product.name}`
            - const paragraphs = product.description.split('\n');
            each p in paragraphs
                p.description__text= p

    section.section-pictures
        each img, i in product.images        
            .picture-box
                img.picture-box__img(src=`/img/products/${img}`, alt=`Environ Vita Peptide Eye Gel ${i + 1}`, 
            class=`picture-box__img--${i + 1}`)

    section.section-reviews
        .reviews
            each review in product.reviews
                +reviewCard(review)

    section.section-cta
        .cta
            .cta__img.cta__img--logo
                img(src='/img/logo.png', alt='Skinformation101 Logo')
            img.cta__img.cta__img--1(src='/img/products/colour-img.png', alt='')
            img.cta__img.cta__img--2(src='/img/products/colour-img-2.png', alt='')
            .cta__content
            h2.heading-secondary What are you waiting for?
            p.cta__text It's never too late to start looking after your skin!
            button.btn.btn--green.span-all-rows
                a.nav__el(href='/consultations') Book a consultation
